body {margin: 0; font-family: 나눔명조,'Nanum Myeongjo',serif}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
input {
    outline: none;
    display: inline-block;
}
span {
    display: inline-block;
}

/* footer */
.footer {
    width: 100%;
}
.f_top_box {
    height: 40px;
    background-color: #000;
    color: #b2b2b2;
    font-size: 12px;
    line-height: 40px;
    box-sizing: border-box;
}
.f_top {
    width: 80%;
    margin:  auto;
    display: flex;
    gap: 15px;
}
.f_top > a:nth-of-type(3) {
    color: #fff;
}
.f_bottom_box {
    background-color: #1f1c1b;
    padding: 30px 0;
}
.f_bottom {
    width: 80%;
    margin: auto;
    color: #fff;
    font-size: 12px;
}
.f_bottom > span {
    margin-top: 5px;
}
.mb {
    display: none;
}

@media (max-width: 890px) {
    .desk_top {display: none;}
    .mb {display: inline-block; padding: 0 40px;}
    .f_top {width: 90%;}
    .mb span:nth-of-type(5) {
        margin-top: 10px !important;}
    .main_center {width: 70% !important;}
    .text_box > p {font-size: 25px !important;}
    .text_box > span {font-size: 15px !important;}
}


