/* main */
.wrap {
    width: 100%;
}
.main {
    width: 100%;
    height: 100vh;
    background-color: #262626;
}
.back_img {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.main_bg {
    height: 100vh;
    background: url(../img/main_bg.jpg) no-repeat center/cover;
}
.main_box {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main_center {
    width: 100%;
    max-width: 670px;
    height: 50%;
    margin-top: 130px;
}
.logo_box {
    width: 100%;
    font-size: 60px;
    color: #f9efff;
    line-height: 50px;
}
.search_box {
    display: block;
    width: 100%;
    max-width: 670px;
    margin: 50px auto 0 auto;
}
.search_bar {
    display: flex;
    height: 55px;
    background-color: #fff;
    border: 5px solid #3b2e28;
    box-sizing: border-box;
}
.search_dropdown {
    width: 150px;
    border-right: 2px solid #dde2f1;
    color: #222;
    cursor: pointer;
    height: 35px;
    margin-top: 5px;
    box-sizing: border-box;
    position: relative;
}
.sd_option {
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 50px;
    margin-top: -6px;
    margin-right: 4vh;
}
.search_dropdown:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    border: 8px solid;
    border-color: #3a2922 transparent transparent transparent;
}
.sd_ul {
    width: 100%;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: 0;
}
.sd_li {
    font-size: 14px;
    padding: 15px 0;
}
.sd_li:hover {
    background-color: #ddd;
}
.search_field {
    width: 100%;
    max-width:510px;
    height: auto;
    position: relative;
}
#s_input {
    width: 100%;
    height: 45px;
    border: 0;
    font-size: 14px;
    margin: 0;
    padding-left: 15px;
    padding-right: 78px;
    color: #222;
    display: block;
    box-sizing: border-box;
}
.search_btn {
    position: absolute;
    top: 0;
    right: 15px;
}
.s_btn_img {
    width: 30px;
    padding-top: 10px;
}

.text_box > p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    margin-top: 40px;
}
.text_box > span {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-top: 13px;
}

.search_btn button {
    border: none;
    background: none;
}


@media (max-width: 890px) {
    .main_center {width: 70% !important;}
    .text_box > p {font-size: 25px !important;}
    .text_box > span {font-size: 15px !important;}
    .search_dropdown {
        width: 250px;
    }
}
@media (max-width: 530px) {
    .text_box > p {font-size: 20px !important;}
    .text_box > span {font-size: 14px !important;}
    #s_input,.sd_option {font-size: 14px;}
}
@media (max-width: 490px) {
    .main_center {width: 80% !important;}
    .sd_option {transform: translateX(-10px);}
    .search_dropdown {width: 180px;}
    #s_input, .sd_option {font-size: 12px;}
    .text_box > p {font-size: 17px !important;}
    .text_box > span {font-size: 13px !important;}
    .search_dropdown {width: 150px;}
    .search_dropdown:before {border: 6px solid; border-color:#3a2922 transparent transparent transparent }
    .sd_option {transform: translateX(-16px);}
}
@media (max-width: 350px) {
    .main_center {width: 90% !important;}
    .sd_option {transform: translateX(-9px); width: 80%;}
    #s_input {padding-right: 28px;}
}