.main {
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    background: url(../img/sub_bg.jpg) no-repeat;
    background-size: contain;
    display: inline-block;
    background-position: right bottom;
    padding-bottom: 150px;
    box-sizing: border-box;
}



.write_box {
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 1260px;
    text-align: right;
}
.btn_write {
    height: 29px;
    line-height: 27px;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 13px;
    border-radius: 2px;
    color:  #fff;
    border: 1px solid #3c3c3c;
    border-bottom-color: #3c3c3c;
    background: #3c3c3c;
}
/* .write_box::after {
    content: "";
    display: block;
    clear: both;
} */

/* list */
.deceased_list > ul {
    width: 100%;
    font-size: 0;
    line-height: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
}

.board_chk {
    width: 18px;
    height: 18px;
    border: 0;
    background: url(../img/bg_checkbox.png) no-repeat 0 0 ;
    background-size: 18px 18px;
    -webkit-appearance: none;

    max-width: 100%;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
    outline: 0;
    border-radius: 0;
}
.board_chk:checked {
    background: url(../img/bg_checkbox_checked.png);
    background-size: 18px 18px;
    -webkit-appearance: none;
}
.de_list {
    display: inline-block;
    width: calc((100% - (30px * 2))/3);
    font-size: 12px;
    color: #757575;
    line-height: 18px;
    vertical-align: top;
}
.on_list {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.corner_ribon {
    width: 180px;
    height: 27px;
    background-color: #2d2d2d;
    position: absolute;
    line-height: 50px;
}
.top_left {
    top: 44px;
    left: -40px;
    -webkit-transform: rotate(-45deg);
}
.top_right {
    top: 26px;
    right: -23px;
    -webkit-transform: rotate(45deg);
}
.on_list_info {
    box-sizing: border-box;
    border: 20px solid #dca56b;
    border-image: url(../img/frame_2.png) 20 20;
    box-shadow: inset 5px 5px 10px #888, inset -5px -5px 10px #888;
    padding: 20px 20px 25px 30px ;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.name {
    font-size: 30px;
    line-height: 26px;
    color: #3a2922;
    text-align: center;
}
.con1 > font:nth-of-type(2) {
    font-size: 18px;
}

.info_list {
    color: #3a2922;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 14px;
    border-bottom: 1px solid #e0e0e0;
}
.info_list p {margin: 0; padding: 0;}
.labe1 > b {
    width: 28%;
    display: inline-table;
}
.labe1 > font {
    width: 70%;
    display: inline-table;
    color: #606060;
}
.info_btn {
    display: block;
    max-width: 150px;
    width: 100%;
    height: 35px;
    background-color: #770b19;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: auto 0;
    line-height: 35px;
    user-select: none;
    margin:  10px auto;
}
.info_btn:hover {
    background: #1d1c1a;
}


.pagination_box {
    display: inline-block;
    width: 100%;
    
    text-align: center;
}
.pagination {
    display: inline-block;
    font-size: 14px;
}
.btn_prev {
    background-color: #ddd;
    color: #606060;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    text-decoration: none;
    line-height: 40px;
}
.brwon {
    background-color: #755c51;
    color: #fff;
    border: 1px solid #755c51;
}
.pr_hover:hover {
    background-color: #755c51;
    border: 1px solid #755c51;
    color: #fff;
}


@media (max-width: 1150px) {
    .de_list {
        width: calc((100% - 30px) / 2) !important;
    }
    .corner_ribon {
        width: 210px;
        height: 30px;
    }
    .top_right  {
        top: 47px;
        right: -43px;
        -webkit-transform: rotate(35deg);
    }
    .top_left {
        -webkit-transform: rotate(-35deg);
    }
}
@media (max-width: 1150px) {
    .top_right {
        right: -48px;
        -webkit-transform: rotate(40deg);
    }
    .top_left {
        left: -44px;
        -webkit-transform: rotate(-40deg);
    }
}
@media (max-width: 830px) {
    .top_right {
        top: 38px;
        right: -60px;
    }
    .top_left {
        left: -62px;
    }
    
}
@media (max-width: 767px) {
    .container {
        padding: 0 20px ;
        box-sizing: border-box;
    }
    .corner_ribon {
        width: 310px;
    }
    .top_right {
        top: 28px;
        right: -103px;
        -webkit-transform: rotate(49deg);
    }
    .top_left {
        left: -112px;
        -webkit-transform: rotate(-49deg);
    }
}
@media (max-width: 767px) {
    .de_list {
        width: 100% !important;
    }
    .top_right {
        right: -49px;
        -webkit-transform: rotate(28deg);
    }
    .top_left {
        left: -81px;
        -webkit-transform: rotate(-28deg);
    }
}

@media (max-width: 610px) {
    .top_right {
        right: -80px;
        -webkit-transform: rotate(35deg);
    }
    .top_left {
        left: -96px;
        -webkit-transform: rotate(-35deg);
    }
}
@media (max-width: 480px) {
    .top_right {
        -webkit-transform: rotate(42deg);
    }
    .top_left {
        -webkit-transform: rotate(-42deg);
    }
}
@media (max-width: 400px) {
    * {
        font-size: 97%;
    }
    .container {
        padding: 0 10px ;
        box-sizing: border-box;
    }
    .top_right {
        right: -93px;
        -webkit-transform: rotate(47deg);
    }
    .top_left {
        left: -116px;
        -webkit-transform: rotate(-47deg);
    }
    .on_list_info {
        padding: 20px 10px 25px 10px;
    }
}
@media (max-width: 300px) {
    .top_right {
        right: -103px;
        -webkit-transform: rotate(57deg);
    }
    .top_left {
        left: -110px;
        -webkit-transform: rotate(-57deg);
    }
}