p,h3 {margin: 0; }

.main .container {
    padding: 0 10px;
    box-sizing: border-box;
}
.main_flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
    box-sizing: border-box;
}
.agree_all {
    font-size: 14px;
}
.agree_all > h3 {
    margin: 0 0 14px;
    color: #1b1b1b;
    font-size: 11px;
}
.agree_all p {
    display: flex;
    gap: 5px;
}
.agree_area label {cursor: pointer;}
.agree_all label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 5px;
    cursor: pointer;
}
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 0;
    background: url(../img/bg_checkbox.png) no-repeat 0 0;
    background-size: 18px 18px;
    -webkit-appearance: none;
    vertical-align: middle;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-image: url(../img/bg_checkbox_checked.png);
    -webkit-appearance: none;
    cursor: pointer;
}



/* agree_area */
.agree_area {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}
.title {
    line-height: 36px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}
.title  label {font-size: 14px !important; vertical-align: middle;}
.btn_more {
    font-size: 11px;
    text-decoration: underline;
    font-weight: 500;
}

.content {
    padding: 14px;
    box-sizing: border-box;
    height: 90px;
    overflow: hidden;
    overflow-y: auto;
    color: #757575;
    font-size: 11px;
}

.alpha {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.agree_area:nth-of-type(4) .title{padding: 0;}
.alpha > h3 {padding: 0 10px; box-sizing: border-box;}
.additional {
    display: -webkit-flex;
    align-items: flex-start;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    background: #fafafa;
    padding: 0 10px;
}
.additional > li {
    width: 50%;
}



.btn_box {
    display: flex;
    margin: 10px 0 10px -4px;
    gap: 5px;
}
.btn_submit {
    width: 50%;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    color: #fff;
    border: 1px solid #31571b;
    background: #31571b;
    cursor: pointer;
}
.btn_no {
    width: 50%;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    border: 1px solid #e1e1e1;
    background: #fff;
    text-align: center;
}


@media (max-width: 600px) {
    .agree_area label {
        font-size: 12px !important;
    }
}